@font-face {
  font-family: Inter;
  src: url(fonts/Inter-V.ttf);
}

body {
  margin: 0 auto;
  background-color: #000000;
  font-family: Inter;
  color: white;
}

/**
* Sticky navigation
*/
.main-menu {
width: 100%;
height: 70px;
background-color: #000000;
position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 0px;
  border-top: 0px;
  padding-top: 0px;
  z-index: 3;
  text-align: center;
  vertical-align: center;
}

  

/**
* Display lists on a single line.
*/
.list-inline {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0;
  margin: 0;
}

.list-inline > li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.active {
  text-decoration: none;
  font-family: Inter, 'Comic Sans MS';
  font-size: 25;
  font-weight: normal;
  color: white;
  text-decoration: none;
  align-content: middle;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.activ {
  text-decoration: none;
  font-family: Inter, 'Comic Sans MS';
  font-size: 25;
  font-weight: normal;
  color: #00ffcc;
  text-decoration: none;
}


.list-inline > li:before {
  content: "\200B"; /* 1 */
  position: absolute; /* 2 */
}


/* ======================================
Responsive Image gallery Style rules
======================================*/
*
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    padding: 10px 5%;
  }
  

  ul {
    list-style: none;
  }
  
  /* Responsive image gallery rules begin*/
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery > li {
    flex: 1 1 auto; 
    height: 300px;
    cursor: pointer;
    position: relative;
  }
  
  .gallery::after {
    content: "";
    flex-grow: 999;
  }
  
  .gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }

  .gallery li:nth-child(6) img {
    object-fit: cover;
    object-position: top center;
    height: 100%;
    border-radius: 5px;
  }

 